@import url(//db.onlinewebfonts.com/c/07bc241768c969f6b6a27a7bf0dfb490?family=TT+Norms+Regular);
@import url(//db.onlinewebfonts.com/c/28c0fa4aeac7eb2cb7c34c37298331ff?family=Internacional-Black);

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'TT Norms Regular', sans-serif; */
    font-family: 'Internacional-Black', sans-serif;
    color: #455159;
}

p {
    margin: 0 !important;
    padding: 0 !important;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.justify {
    justify-content: center;
}

.spaceBetween {
    justify-content: space-between;
}

.bottom {
    bottom: 0;
    left: 0;
}

.mainBg {
    width: 100%;
    object-fit: cover;
}

.mainDiv {
    top: 0;
    left: 0;
    width: 100%;
}

nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

nav > div {
    font-weight: 500;
    font-family: 'Internacional-Black';
    width: 40%;
    display: flex;
    justify-content: space-around;
}

.active,
.inactive {
    cursor: pointer;
}

.inactive {
    opacity: 0.6;
}

.headline {
    display: flex;
    justify-content: space-between;
    /* font-weight: 700; */
    font-size: 34px;
}

.px-6 {
    padding: 0 5rem;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 4rem;
}

.glass {
    height: 320px;
    background: white;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 1rem;
    backdrop-filter: blur(1rem);
}

.dish_container {
    top: -10%;
}

.dish_image {
    width: 200px;
    filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.25));
    -webkit-filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.25));
}

.subheading {
    font-size: 12px;
    opacity: 0.6;
}

.heading {
    font-size: 12px;
}

.details {
    border-top: 2px solid #eaeae9;
}

.opacity6 {
    opacity: 0.6;
}
